.logo{
  float: right;
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}
.top-wrapper{

    margin: 0 auto;
}

.profil-title{
  font-family: 'Century Gothic', sans-serif;
    font-weight: 200;
    color: #550000;
    font-size: 30px;
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

.pro-name img{
  text-align: center;
  margin: 0 auto;
  display: block;


}

.pro-name h3 span  {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #A8A8A8;
    background: #111726;
    padding: 10%;
    display: inline-block;
    font-size: 25px;
    width: auto;
    letter-spacing: 5px;

}

figcaption{
  position: absolute;
  top:140%;
  left: 37%;
  z-index: 1;
  width: 95%
  transform:translateX(0px);
  opacity: 1;
  }

  .age{
    position: absolute;
    top:165%;
    left: 37%;
    z-index: 1;
    width: 95%
    transform:translateX(0px);
    opacity: 1;


  }

  .age h3 span {
    font-family: 'Century Gothic', sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #FFFFFF;
    background:	#708090	;
    padding: 10%;
    display: inline-block;
    font-size: 25px;
    width: auto;
    letter-spacing: 5px;
  }

  .age-19 {
    font-family: 'Century Gothic', sans-serif;
      font-weight: 10;
      font-size: 35px;
      color: #550000;
      float: right;
  }
.age h3{
  float: left;
  margin-right: 350px;
  margin-top: 10px;
}

.birthday{
  position: absolute;
  top:170%;
  left: 37%;
  z-index: 1;
  width: 95%
  transform:translateX(0px);
  opacity: 1;
}

.birthday h3 span{
  font-family: 'Century Gothic', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #FFFFFF;
  background:		#708090	;
  padding: 10%;
  display: inline-block;
  font-size: 25px;
  width: auto;
  letter-spacing: 5px;
}

.birthday-12{
  font-family: 'Century Gothic', sans-serif;
    font-weight: 10;
    font-size: 35px;
    color: #550000;
    float: right;
}

.birthday h3{
  float: left;
  margin-right: 132px;
  margin-top: 18px;
}

.work{
  position: absolute;
  top:178%;
  left: 37%;
  z-index: 1;
  width: 95%
  transform:translateX(0px);
  opacity: 1;
}

.work h3 span{
  font-family: 'Century Gothic', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #FFFFFF;
  background:		#708090	;
  padding: 10%;
  display: inline-block;
  font-size: 25px;
  width: auto;
  letter-spacing: 5px;
}

.work-student{
  font-family: 'Century Gothic', sans-serif;
    font-weight: 10;
    font-size: 35px;
    color: #550000;
    float: right;
}

.work h3{
  float: left;
  margin-right: 90px;
  margin-top: 18px;
}

.hobby{
  position: absolute;
  top:185%;
  left: 37%;
  z-index: 1;
  width: 95%
  transform:translateX(0px);
  opacity: 1;
}

.hobby h3 span{
  font-family: 'Century Gothic', sans-serif;
  font-weight: 300;
  font-style: italic;
  color: #FFFFFF;

  background:	#708090	;
  padding: 10%;
  display: inline-block;
  font-size: 25px;
  width: auto;
  letter-spacing: 5px;
}

.hobby-1{
  font-family: 'Century Gothic', sans-serif;
    font-weight: 10;
    font-size: 35px;
    color: #550000;
    float: right;
}

.hobby h3{
  float: left;
  margin-right: 157px;
  margin-top: 18px;
}

.photo-titel{
  font-family: 'Century Gothic', sans-serif;
    font-weight: 200;
    color: #550000;
    font-size: 30px;
    display: block;
    margin: 0 auto 0px;
    text-align: center;
}

#waku {
width: 799px;
height: 410px;
padding-top: 5px;
margin-right: auto; /* ▽ 中央寄せ ▽ */
margin-left: auto;/* △ 中央寄せ △ */
}
.photo-list {
list-style-type: none; /* リストマーカーを消す */
border: 0 solid black;
display: block; /* リストをブロックレベルで表示させる */
width: 245px;
height: 350px;
float: left;
margin-right: 30px;
margin-left: 35px;
}

.photo-img img { /* <li>タグの中の<img>のプロパティはここで。 */
margin: 5px;
width: 330px;

}
.text {
margin: 5px; /* 画像の下の文章のレイアウトはここで。 */
list-style-type: none;
}

header {
  height: 65px;
  width: 100%;
background-color: rgba(255,255,255,1.0);
  position: fixed;
  top: 0;
   z-index: 10;


}

footer ul {
  display: table;
   width: 100%;
}
